* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #f8f8f8;

  #root {
    height: 100%;
  }
}

svg {
  fill: currentColor;
}
